table {
    width: 100%;
    text-align: center !important;
  }
  .mat-header-cell {
    /* text-align: center; */
    background-color: cadetblue;
    color: white;
    font-size: medium;
    padding-left: 0px;
    width: 20% !important;
  }
  .mat-row:hover {
    background-color: #efefef;
  }
  .mat-cell {
      text-align: left;
      padding-left: 0px;
      border-bottom: 1px solid #00c0ef;
      border-top: 1px solid #00c0ef;
      border-left:  1px solid #00c0ef;
      border-right:  1px solid #00c0ef;
   }
   
   /* mat sort visible CSS */
   ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
    color: white;
  }