<form  #form="ngForm" autocomplete="off" class="form-center" (submit)="onSubmit(form)">
    <mat-card class="example-card">
        <mat-card-content>
            <input type="hidden" name="Id" [value]="service.expressFormData.Id">
            <div class="form-group">
                <mat-form-field class="col-md-12">
                    <mat-label>Express Name</mat-label>
                    <input matInput name="ExpressName" class="form-control form-control-lg"
                    #ExpressName="ngModel" [(ngModel)]="service.expressFormData.ExpressName" required>
                    <mat-error *ngIf="ExpressName.invalid">Express Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-12">
                <div class="row" style="text-align: center; padding-left: 12px;">
                    <button mat-raised-button class="btn btn-info btn-lg" [disabled]="form.invalid" type="submit">SUBMIT</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>