<form  #form="ngForm" autocomplete="off" class="form-center" (submit)="onSubmit(form)">
    <mat-card class="example-card">
        <mat-card-content>
            <input type="hidden" name="Id" [value]="service.countryFormData.Id">
            <div class="form-group">
                <mat-form-field class="col-md-12">
                    <mat-label>Country Code</mat-label>
                    <input matInput name="CountryCode" class="form-control form-control-lg"
                    #CountryCode="ngModel" [(ngModel)]="service.countryFormData.CountryCode" required>
                    <mat-error *ngIf="CountryCode.invalid">Country Code is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="col-md-12">
                    <mat-label>Country Name</mat-label>
                    <input matInput name="CountryName" class="form-control form-control-lg"
                    #CountryName="ngModel" [(ngModel)]="service.countryFormData.CountryName" required>
                    <mat-error *ngIf="CountryName.invalid">Country Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-12">
                <div class="row" style="text-align: center; padding-left: 12px;">
                    <button mat-raised-button class="btn btn-info btn-lg" [disabled]="form.invalid" type="submit">SUBMIT</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>

